{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Edit Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Title: </label>
            <input class="form-control" autofocus type="text" name="title" value="{{ listing.title }}" placeholder="Title" required>
        </div>
        <div class="form-group">
            <label>Description: </label>
            <textarea class="form-control" type="text" name="description" value="{{ listing.description }}" placeholder="Descriptions"></textarea>
        </div>
        <div class="form-group">
            <label>Starting Bid: </label>
            <input class="form-control" type="number" name="starting_bid" value="{{ listing.starting_bid }}"  placeholder="Starting Bid" required>
        </div>
        <div class="form-group">
            <label>Image URL: </label>
            <input class="form-control" type="text" name="image_url" value="{{ listing.image_url }}" placeholder="provide a URL">
            {% if listing.image_url %}
                <img class="card-img-top mt-2" style="max-height: 200px; width: fit-content;" src="{{ listing.image_url }}" alt="{{ listing.title }}">
            {% endif %}
        </div>
        <div class="form-group">
            <label>Category: </label>
            <select name="category_id" class="form-control">
                <option value="">--Select Category--</option>
                {% for category in categories %}
                    {% if category.id == listing.category_id %}
                        <option value="{{ category.id }}" selected>{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Save Changes">
    </form>


{% endblock %}