{% extends "auctions/layout.html" %}

{% block body %}

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}

    <h2>Listing: {{ listing.title}}</h2>
    <!-- Show the Watchlist or edit or close if user logedin -->
    {% if user.is_authenticated %}
      {% if listing.seller_id == user.id %}
      <p>
        {% if listing.is_closed == 0 %}
        <a href="{% url 'edit_listing' listing.id %}" class="btn btn-primary btn-sm">Edit Listing</a>
        <a href="#" class="btn btn-danger btn-sm">Close</a>
        {% else %}
        <span>Listing closed. </span>
        {% endif %}
      </p>
      {% else %}
        {% if listing in request.user.watchlist.all %}
            <p><a href="{% url 'watchlist' listing.id %}" class="btn btn-danger btn-sm">Remove from Watchlist</a></p>
        {% else %}
            <p><a href="{% url 'watchlist' listing.id %}" class="btn btn-info btn-sm">Add to Watchlist</a></p>
        {% endif %}
      {% endif %}
    {% endif %}
    <div class="card">
        {% if listing.image_url %}
        <img class="card-img-top" style="max-height: 300px; width: fit-content;" src="{{ listing.image_url }}" alt="{{ listing.title }}">
        {% else %}
        <img class="card-img-top" style="max-height: 300px; width: fit-content;" src="https://thumb.ac-illust.com/73/7387030e5a5600726e5309496353969a_t.jpeg" alt="{{ listing.title }}">
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{ listing.description}}</p>
          <h3><strong>${{ listing.starting_bid}}</strong></h3>
          <!-- Show this bid form if listing is not created by the loged in user -->
          {% if user.is_authenticated and listing.seller_id != user.id %}
          
            {% if bids_count %}
            <p> {{ bids_count }} bid(s) so far, your bid is the current bid.</p>
              {% else %}
            <p> No bid so far, your bid is the current bid.</p>
            {% endif %}
          
          <form action="" method="post">
            {% csrf_token%}
            <div class="form-group">
                <input class="form-control" type="text" name="bid_amount" placeholder="Bid" required>
            </div>
            <input class="btn btn-primary" type="submit" value="Place Bid">
          </form>
          {% else %}
            {% if bids_count > 0 %}
            <p> {{ bids_count }} bid(s) so far.</p>
              <ul>
              {% for bid in bids %}
                <li>{{ bid.bidder }} : <strong>${{ bid.bid_amount }}</strong></li>  
              {% endfor %}
              </ul>
            {% else %}
            <p> No bid so far.</p>
            {% endif %}
          {% endif %}
          <h5 class="mt-2">Details</h5>
          <ul>
            <li>Listing by: <a href="{% url 'listing_by_seller' listing.seller_id %}">{{ listing.seller }}</a></li>
            <li>Category: 
                {% if category %}
                    <a href="{% url 'single_category' category.id %}">{{ category.name }}</a>
                {% else %}
                    No category listed
                {% endif %}
            </li>
          </ul>
        </div>
    </div>

{% endblock %}